{# On herite de base.html.twig: On recupere la meme structure HTML et on remplace certains blocs #}

{% extends "base.html.twig" %}

{# On ecrase le bloc titre #}
{% block title %}
    Share It!
{% endblock %}

{% block body %}
   <h1> Share It</h1>
    <div>
        <form action="" method="post" enctype="multipart/form-data">
            <input type="file" id="docpicker" name="fichier" >
            <button type="submit">Envoyer le fichier </button>
        </form>
    </div>
   
{% endblock %}